@font-face {
	font-family: 'Circe Bold';
	src: url('fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe_bold.svg#circe_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Circe ExtraBold';
	src: url('fonts/circe_extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe_extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe_extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe_extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe_extrabold.svg#circe_extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Circe ExtraLight';
	src: url('fonts/circe_extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe_extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe_extralight.svg#circe_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Circe Light';
	src: url('fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Circe';
	src: url('fonts/circe.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Circe Thin';
	src: url('fonts/circe_thin.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/circe_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/circe_thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/circe_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/circe_thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/circe_thin.svg#circe_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'TT Norms';
    src:url('fonts/TTNorms-Bold.woff2') format('woff2'),
        url('fonts/TTNorms-Bold.woff') format('woff'),
        url('fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

body {
    padding: 0;
    margin: 0;
    padding-top: 9px;
    margin: 0 auto;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    max-width: 1170px;
}
a {
    text-decoration: none;
}
.navigation {
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.navigation__logo {
    width: 18%;
    display: inline-flex;
    align-items: center;
}

.navigation__logo-image {
    width: 68px;
    height: 52px;
    background-image: url(images/i1.png);
    background-size: cover;
    margin-right: 23px;
    display: inline-block;
}
.navigation__slogan-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.navigation__links {
    display: inline-flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.navigation__links-list {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navigation-links-list-row-link{
    text-decoration: none;
    color: #464243;
}
.navigation__contacts {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}
.navigation__contacts-tel {
font-weight: bold;
font-size: 18px;
}
.navigation__contacts-login {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__contacts-login-image {
    width: 24px;
    height: 24px;
    background-image: url(images/i2.svg);
    background-size: cover;
    margin-right: 23px;
}
.menu {
    height: 500px;
    width: 100%;
    background-image: url(images/i3.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
  
}
.menu__arrow-link {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color: #FFF;
    border-radius: 50%;
    background-image: url(images/i4.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.menu__arrow-start {
    margin-left: -24px;
}
.menu__arrow-end{
    margin-right: -24px;
    transform: rotate(180deg);
}
.menu__main-block-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.menu__promo-container {
    margin-top: 3.8%;

    display: inline-flex;
    justify-content: space-around;
    width: 7%;
    height: 6%;
    background: #FF794F;
    border-radius: 5px;
    margin-bottom: 0;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.menu__promo-container  .menu__promo {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}
.menu__dish-heading {
    width: 45%;
    margin-top: 6%;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.menu__delivery-info {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #F0F1EE;
    margin-top: 2%;
    margin-bottom: 2.9%;
}
.menu__shop-container {
    display: inline-flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    height: 5.7%;
    text-align: center;
}
.menu__shop-buy {
    width: 47.6%;
    height: 3.3em ;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 134px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.menu__shop-buy-text {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #333333;
    align-self: center;
}
.menu__shop-restaurant {
    background: none;
    border: 1px solid #FFFFFF;
}
.menu__shop-restaurant-text {
    color:#FFFFFF;
}