extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Карточка';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'cart';
block content
   section.cart
        nav.cart__links
            .cart__links__link
                a(href="#") коллекция
                .cart__links__link__arrow
            .cart__links__link
                a(href="#") бамбук
                .cart__links__link__arrow
            .cart__links__link
                a(href="#" class = "active") брюки
                .cart__links__link__arrow
        .cart__main
            .cart__content
                .cart__header
                    .cart__price
                        h3.cart__price-text Бамбуковые брюки 
                        span.cart__price-text.cart__price-sum 2000₽
                    .cart__heart-image
                .cart__delivery Бесплатная доставка от 5000 рублей
                .cart__sizes
                    .cart__sizes-size xs s m l xl
                    .cart__sizes-info 
                        a(href="#") узнать размер
                    
            .cart__content-images    

