#snt {
  .ads-image {
    background-image: url("../images/ads/ads.jpg");
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .ads {
    &__nav {
      min-width: 250px;
      height: inherit;
      display: flex;
      text-align: left;
      flex-direction: column;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px 30px;
      font-family: Roboto Condensed;
      @include mediaWidth(767) {
        display: none;
      }
      &-header{
        &:first-child h6 {
          margin-top: 0;
        }
      }
    }
    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
      display: flex;
      justify-content: space-between;


    }

    &__block {
      max-width: 950px;
      display: flex;
      flex-wrap: wrap;
      @include mediaWidth(1210) {
        justify-content: space-evenly;
      }
    }

    &__article {
      width: 315px;
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      height: 410px;
      overflow: hidden;

      &:hover {
        color: #000000;
      }
    }
  }
  .ad__image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .ad__text>h5 {
 margin: 15px 0 15px 0;
  }
}