#snt {
  .ads-image {
    width: 100%;
    min-height: 650px;
    background-image: url("../images/ads/ads.jpg");
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin-left: 80px;
      }
    }
  }

  .news {
    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }

    &__block {
      max-width: 950px;
      display: flex;
      flex-wrap: wrap;
    }

    &__article {
      width: 315px;
      display: flex;
      flex-direction: column;
      margin-bottom: 35px;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      height: 410px;
      overflow: hidden;

      &:hover {
        color: #000000;
      }
    }
  }}