#snt {
  .private-image {
    background-image: url("../images/authorization/authorization.jpg");
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .private-forms {
    &__wrapper {
      max-width: 950px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
      @include mediaWidth(1024) {
        flex-direction: column;
      }
      @include mediaWidth(767){
        margin: 40px auto;
      }
    }
  }
  .title{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
  }
  .login,.registration {
    display: flex;
    flex-direction: column;
    & label {
      width: 290px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
       & input {
         width: 20px;
         margin: 0;
       }
      & span {
        font-family: Roboto Condensed;
        font-style: normal;
        width: 330px;
        font-size: 15px;
        line-height: 70%;
        box-sizing: border-box;
        color: #000000;
      }
    }
  }
  .login__form {
    @include mediaWidth(1024) {
      margin-bottom: 30px;
    }
  }
}
