#snt {
  .private-image {
    width: 100%;
    min-height: 650px;
    background-image: url("../images/authorization/authorization.jpg");
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin-left: 80px;
      }
    }
  }
  .private-forms {
    &__wrapper {
      max-width: 950px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
  }
  .title{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
  }
  .login,.registration {
    display: flex;
    flex-direction: column;
    & label {
      width: 330px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
       & input {
         width: 20px;
         margin: 0;

       }
      & span {
        font-family: Roboto Condensed;
        font-style: normal;
        width: 330px;
        font-size: 16px;
        line-height: 70%;
        letter-spacing: 0.05em;
        box-sizing: border-box;
        color: #000000;
      }
    }
  }
}
