#snt {
  .docs-image {
    background-image: url("../images/documents/documents.jpg");
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .docs {
    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
      width: 95%;
    }

    &__nav-table {
      width: 100%;
      font-family: Roboto Condensed;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      border-collapse: collapse;
      margin: 0 auto;
      margin-bottom: 30px;
      @include mediaWidth(767) {
        display: none;
      }

      td, th {
        border: 1px solid #A89B9B;
        padding: 10px;
        background: #f1f1f1;
        font-weight: bold;

        a:hover {
          color: #49A010;
          transition-duration: 0.3s;
        }

      }
    }

    &__table {
      width: 100%;
      font-family: Roboto Condensed;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      border-collapse: collapse;
      margin: 0 auto;

      & thead {
        font-weight: bold;

      }

      td, th {
        border: 1px solid #A89B9B;
        padding: 10px;
        background: #f1f1f1;

      }
    }
    &__download-image {
      width: 35px;
      height: 35px;
    }
  }
}