#snt{
  .forum-discuss-image {
    background-image: url("../images/forum/forum.jpg");
    @extend %background-image;
    &__title {
      max-width: 1224px;
      margin: 240px auto 0;
      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .forum-discuss {
      &__wrapper {
        max-width: 1224px;
        height: 100%;
        margin: 80px auto;
        text-align: center;
        width: 95%;
        @include mediaWidth(767){
          margin: 40px auto;
        }
        & h3, p {
          margin: 27px auto;
        }
      }
      &__table-block {
        & input[type='submit']{
            margin-top: 30px;
            background: #003D34;
            border-radius: 5px;
            font-family: Roboto Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            text-transform: uppercase;
            cursor: pointer;
            width: 330px;
            height: 40px;
            letter-spacing: 0.05em;
            outline: none;
            border: none;
          @include mediaWidth(767) {
            width: 100%
          }
          &:hover {
            background: #66AB36;
            transition-duration: 0.3s;
          }

        }
        & textarea {
          font-family: Roboto;
          width: 100%;
          min-height: 150px;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          border: 1px solid #DBDBDB;
          box-sizing: border-box;
          outline: none;
          margin-bottom: 20px;
          padding: 10px;
          border-radius: 5px;
          resize: none;
          &::placeholder {
            text-align: center;
          }
        }
      }
      &__table table  {
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: left;
        color: #000000;
        border-collapse: collapse;
        margin: 0 auto 35px;
        & thead {
          font-weight: bold;
        }
        td, th {
          border: 1px solid #A89B9B;
          padding: 10px;
          background-color: #f1f1f1;
        }
      }
    &__vote {
      margin: 0 auto;
      & .vote {
        display: block;
        text-align: left;
        font-family: Roboto Condensed;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        input:last-of-type{
          margin-bottom: 27px;
        }
        label:last-of-type{
          margin-bottom: 0;
        }
        input[type=radio] {
          margin-bottom: 0;
          margin-right: 10px;
        }
        label {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
      }
    }
    &__results {
      display: flex;
      flex-direction: column;
      text-align: left;
      font-family: Roboto Condensed;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 27px;
      span {
        color: #313131;
        letter-spacing: 0.05em;
        margin-bottom: 10px;
      }
    }
  }
}