#snt{
  .forum-image {
    width: 100%;
    min-height: 650px;
    background-image: url("../images/forum/forum.jpg");
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    @extend %background-image;
    &__title {
      max-width: 1224px;
      margin: 240px auto 0;
      &-headers {
        margin-left: 80px;
      }
    }
  }
  .forum {
    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
    }
    &__table {
      width: 90%;
      font-family: Roboto Condensed;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      border-collapse: collapse;
      margin: 0 auto;
      & thead {
        font-weight: bold;
      }
      td, th {
        border: 1px solid #A89B9B;
        padding: 10px;
        background: #f1f1f1;
      }
    }
  }
}