#snt {
  .gallery-image {
    width: 100%;
    min-height: 650px;
    background-image: url("../images/gallery/gallery.jpg");
    @extend %background-image;
    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin-left: 80px;
      }
    }
  }
  .gallery {
    max-width: 1224px;
    height: 100%;
    margin: 80px auto;
    &__carousel {
      & .item {
        background-image: url("../images/letter/letter.jpg");
        width: 300px;
        height:300px;
        display: block;
        @extend %background-image;
        margin: 0 auto;
        @include mediaWidth(1024){
          width: 220px;
          height: 220px;
        }
      }
    }
    &__images {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-evenly;
      & h2 {
        width: 100%;
        text-align: center;
        padding-top: 0;
      }
      & .item {
        background-image: url("../images/letter/letter.jpg");
        width: 250px;
        height:250px;
        cursor: pointer;
        @extend %background-image;
        margin: 0 28px 56px;

      }
    }
  }
  .owl-carousel {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);padding: 50px 0px 20px;
    width: 100%;
    @include mediaWidth(1024) {
      z-index: -1;
    }

  }
  .owl-item {
    margin: 0;
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
  }
 .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #c8c8c8;

    cursor: pointer;
    border-radius: 50%;
    outline: none;
    margin: 30px 12px 0;
   & span {
     display: none;
   }
    &.active {
      background: #82b23f;
    }
  }
  .popup {
    width: 100%;
    height: 100%;
    background-color: #333334e8;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
    &__close-button {
      width: 25px;
      height: 25px;
      background-image: url("../images/gallery/close.png");
      @extend %background-image;
      position: absolute;
      top: 8%;
      right: 2%;
      cursor: pointer;
    }
    & img {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-width: 95%;
      height: auto;
    }
  }
}