#snt {
  h1 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #F8F8FF;
    margin-top: 20px;
    margin-bottom: 20px;
    @include mediaWidth(767) {
      font-size: 45px;
    }
  }

  h2 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #333334;
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 80px;
    margin-bottom: 80px;
    @include mediaWidth(767) {
      font-size: 36px;
      padding-top: 40px;
      margin-bottom: 40px;
    }
  }

  h3 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-size: 27px;
    line-height: 35px;
    color: #000000;
    text-transform: uppercase;
  }

  h4 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8FF;
    margin-top: 0;
  }

  h5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;

  }

  h6 {
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    margin: 15px 0;
    cursor: pointer;
  }

  p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: $blackColor;
    transition-duration: 0.1s;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      font-family: Roboto;
      font-style: normal;
      width: 290px;
      height: 40px;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.05em;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #DBDBDB;
      box-sizing: border-box;
      outline: none;
      margin-bottom: 20px;
      border-radius: 5px;
      color: #000000;
      &::placeholder {
        font-family: Roboto Condensed;
        font-style: italic;
      }

      &[type='radio'] {
        width: 20px;
        height: 20px;
      }

      &[type='submit'] {
        margin-top: 30px;
        background: #003D34;
        border-radius: 5px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;

        &:hover {
          background: #66AB36;
          transition-duration: 0.3s;
        }
      }
    }
  }

  //---------------------------------HEADER-----------------------------------------
  .header {
    position: fixed;
    width: 100%;
    height: 34px;
    background: $blackColor;
    z-index: 2;

    &__wrapper {
      width: 95%;
      max-width: 1224px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      color: #B9B7B7;

      & * {
        display: flex;
        align-items: center;
      }

      div:nth-child(2) {
        margin-left: auto;
        margin-right: 30px;
      }
    }

    &__tel {
      @include mediaWidth(767) {
        display: none;
      }
    }

    &__mail {
      @include mediaWidth(767) {
        display: none;
      }
    }

    &__ad-clock-image {
      width: 18px;
      height: 20px;
      background-image: url("../images/layout/clock.svg");
      margin-right: 10px;
      @extend %background-image;
      @include mediaWidth(767) {
        display: none;
      }
    }

    &__tel-phone-image {
      width: 18px;
      height: 16px;
      background-image: url("../images/layout/phone.svg");
      margin-right: 10px;
      @extend %background-image;
    }

    &__mail-image {
      width: 20px;
      height: 15px;
      background-image: url("../images/layout/mail.svg");
      margin-right: 10px;
      @extend %background-image;
    }
  }

  .nav {
    align-items: center;
    background: #E5E5E5;
    height: 72px;
    width: 100%;
    position: fixed;
    top: 34px;
    z-index: 2;

    & a {
      &:hover {
        color: #49A010;
        transition-duration: 0.3s;
      }

    }

    &__wrapper {
      width: 95%;
      max-width: 1224px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto Condensed;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;

      & > a {
        @include mediaWidth(1023) {
          display: none;
        }
      }
    }

    &__burger-menu {
      display: none;
      position: relative;
      width: 32px;
      height: 35px;
      cursor: pointer;
      @include mediaWidth(1023) {
        display: block;
      }

      & span, & span:before, & span:after {
        width: 100%;
        position: absolute;
        height: 3px;
        background: #333;
        display: block;
        transition: .3s;
        border-radius: 5px;
      }

      & span:before {
        content: "";
        top: -10px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      & span {
        top: 18px;
      }

      & span:after {
        content: "";
        bottom: -10px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      & span.active:before {
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      & span.active:after {
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      & span.active {
        background: rgba(255, 255, 255, 0);
      }
    }

    &__logo-image {
      width: 35px;
      height: 35px;
      background-image: url("../images/layout/logo.svg");
      transform: rotate(25.34deg);
      @extend %background-image;
      @include mediaWidth(1023) {
        margin-right: 70px;
      }

      @include mediaWidth(767) {
        display: none;
      }
    }

    &__burger-wrapper {
      position: fixed;
      left: 0;
      top: 106px;
      z-index: 2;
      width: 49%;
      background: #333334;
      display: none;
      min-height: 100%;
      font-family: Roboto Condensed;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      @include media-min(1023) {
        display: none !important;
      }
      @include mediaWidth(767) {
        width: 320px;
      }

    }

    &__burger-block {
      display: flex;
      flex-direction: column;
      height: inherit;
      padding-left: 40px;
      white-space: nowrap;

      & a {
        color: #B9B7B7;
        margin-top: 30px;

        &:hover {
          color: #F8F8FF;
          transition-duration: 0.3s;
        }
      }
    }
  }

  //---------------------------------FOOTER-----------------------------------------
  .footer {
    height: 72px;
    background: $blackColor;

    &__wrapper {
      max-width: 1224px;
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto Condensed;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;

      & > a {
        @include mediaWidth(1023) {
          display: none;
        }
      }

      & a {
        color: #B9B7B7;

        &:hover {
          color: #F8F8FF;
          transition-duration: 0.3s;
        }
      }

    }

    &__social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #333334;

      &-vk {
        width: 35px;
        height: 35px;
        background-image: url("../images/layout/vk-black.svg");
        @extend %background-image;
        transition-duration: 0.1s;
        margin-left: 10px;

        &:hover {
          transition-duration: 0.1s;
          background-image: url("../images/layout/vk-hover.svg");
        }
      }

      &-ok {
        width: 35px;
        height: 35px;
        background-image: url("../images/layout/ok-black.svg");
        @extend %background-image;
        margin-left: 10px;
        transition-duration: 0.1s;

        &:hover {
          transition-duration: 0.1s;
          background-image: url("../images/layout/ok-hover.svg");
        }
      }
      &-login {
        width: 35px;
        height: 35px;
        background-image: url("../images/layout/login.svg");
        @extend %background-image;
        transition-duration: 0.1s;

        &:hover {
          transition-duration: 0.1s;
          background-image: url("../images/layout/login-hover.svg");
        }
      }

    }
  }

  //-------------------------------MAIN---------------------------------------------------------
  .images {
    width: 100%;
    min-height: 650px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    margin-top: 106px;
  }
  .image {
    background-image: url("../images/index/main.jpg");
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 200px auto 0;

      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .main {
    &__wrapper {
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.06);
      border-radius: 5px;
      padding: 0 40px 40px;
      max-width: 900px;
      height: 100%;
      margin: 5px auto;
      text-align: center;
      @include mediaWidth(767) {
        padding: 0 20px 20px;
      }
    }
  }

  //-------------------------------DOCUMENTS--------------------------------------------------------
  .documents {
    width: 100%;
    background-image: url("../images/index/documents.jpg");
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    @extend %background-image;

    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 0 auto;
      text-align: center;

      & h2 {
      }
    }

    &__menu-block {
      margin: 0 auto 140px;
      display: flex;
      flex-wrap: wrap;
      max-width: 950px;
      @include mediaWidth(1023) {
        justify-content: center;
      }

      &-link-wrapper {
        margin: 20px;
        width: 276px;
        height: 89px;
        background: linear-gradient(270deg, #A75C5C 0%, rgba(183, 151, 151, 0.431808) 56.82%, rgba(196, 196, 196, 0) 100%);;
        border: 1px solid #998E8E;
        box-sizing: border-box;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          transition-duration: 0.2s;
        }
      }

      &-link-inner {
        width: 259px;
        height: 73px;
        background: #F6F2EF;
        border: 1px solid #A39898;
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        transition-duration: 0.2s;
        text-transform: uppercase;
        @include mediaWidth(767) {
          text-align: center;
          width: 250px;
        }

        &:hover {
          transition-duration: 0.2s;
          width: 240px;
          height: 55px;
          font-weight: bold;
        }
      }
    }
  }

  //-------------------------------TEAM--------------------------------------------------------
  .team {
    &__wrapper {
      //box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 0 40px 40px;
      max-width: 900px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      @include mediaWidth(767) {
        padding: 0 20px 20px;
      }

    }

    &__block {
      text-align: left;
      display: flex;
      justify-content: space-between;
      @include mediaWidth(767) {
        flex-direction: column;
      }


      &-wrapper:nth-child(2) {
        .contact:nth-child(2) {
          flex-direction: row-reverse;

          .contact__name {
            margin-right: 20px;
            margin-left: 0;
            text-align: right;
          }


          @include mediaWidth(1023) {
            flex-direction: column;
          }
        }
        .contact:nth-child(1) {
          flex-direction: row-reverse;

          .contact__name {
            margin-right: 20px;
            margin-left: 0;
            text-align: right;
          }


          @include mediaWidth(1023) {
            flex-direction: column;
          }
        }
      }

      @include mediaWidth(1023) {
        justify-content: space-around;
        text-align: center;
      }

    }
  }

  .contact {
    margin-bottom: 40px;
    display: flex;
    @include mediaWidth(1023) {
      flex-direction: column;
      align-items: center;
    }

    &__name {
      margin-left: 20px;
      display: flex;
      align-items: center;
      @include mediaWidth(1023) {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &__image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      @extend %background-image;

      &-employee {
        background-image: url("../images/index/employee.jpg");

        &_1 {
          background-image: url("../images/index/employee.jpg");
        }

        &_2 {
          background-image: url("../images/index/employee.jpg");
        }

        &_3 {
          background-image: url("../images/index/employee.jpg");
        }
      }
    }

    &__text {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
    }
  }

  //-------------------------------PAYMENT--------------------------------------------------------
  .payment {
    background-color: #ffffff;
    background-image: url("../images/index/boots.jpg");
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    min-height: 700px;
    background-position-y: 60px;

    @include mediaWidth(1170) {
      background-position-x: right;
    }

    &__wrapper {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1224px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      @include mediaWidth(767) {
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
      }

    }

    &__block {
      max-width: 550px;
      margin-left: auto;
      margin-top: 80px;
      margin-right: 70px;
      @include mediaWidth(767) {
        margin: 0 auto;
      }
    }
  }

  .payment-info {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 400;
    display: flex;
    max-width: 420px;
    margin-left: auto;
    @include mediaWidth(767) {
      margin: 0 auto;
    }

    &__image {
      width: 60px;
      height: 60px;
      margin-left: auto;
      @extend %background-image;
      display: inline-block;
      @include mediaWidth(767) {
        display: none;
      }

      &_1 {
        background-image: url("../images/index/mem-contr.svg");
      }

      &_2 {
        background-image: url("../images/index/targ-contr.svg");
      }

      &_3 {
        background-image: url("../images/index/energ-contr.svg");
      }
    }

    &__text {
      margin-bottom: 30px;
      max-width: 300px;
      text-align: left;
      margin-left: auto;
      @include mediaWidth(767) {
        margin: 0 auto 30px;
      }
    }

    &__title {
      font-size: 24px;
      line-height: 28px;
      color: #49A010;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
      text-align: justify;
    }
  }

  .address {
    margin-bottom: 80px;

    &__wrapper {
      max-width: 1224px;
      width: 95%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
    }

    &__block {
      text-align: left;
      display: flex;
      justify-content: space-between;
      @include mediaWidth(1170) {
        flex-direction: column;
        padding: 0 21px
      }
    }

    &__info {
      padding-right: 30px;
      @include mediaWidth(1023) {
        flex-direction: column;
        padding-right: 0
      }
      @include mediaWidth(767) {
        display: block;
      }

      p {
        margin-bottom: 30px;
      }

      > span {
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        @include mediaWidth(767) {
          display: block;
          text-align: left;
        }

        &#auto {
          color: #49A010;

          &:hover {
            cursor: pointer;
          }
        }

        &#public-trans {
          &:hover {
            cursor: pointer;
          }
        }
      }

      > span:nth-child(2) {
        margin-left: 25px;
        @include mediaWidth(767) {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }

    &__auto-text {
      display: block;
    }

    &__public-trans-text {
      display: none;
    }

    &__text {
      margin-bottom: 30px;
      @include mediaWidth(767) {
        margin-bottom: 20px;
      }
    }

    &__time {
      display: flex;
      justify-content: space-between;
      @include mediaWidth(1170) {
        justify-content: inherit;
      }
      @include mediaWidth(767) {
        display: block;
      }
    }

    &__time-block {
      @include mediaWidth(1170) {
        margin-right: 25px;
      }
    }

    &__text-title {
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
    }

    &__text-subtitle {
      margin-top: 16px;
      display: inline-block;
      font-family: Roboto Condensed;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      text-transform: none;
      color: #5B5151;
      @include mediaWidth(767) {
        margin-top: 10px;
      }
    }

    &__map {

      @include mediaWidth(1170) {
        display: flex;
        justify-content: center;
        & iframe {
          width: 100%;
        }
      }

      & iframe {

        &:first-child {
          @include mediaWidth(767) {
            display: none;
          }
        }

        &:last-child {
          @include media-min(768) {
            display: none;
          }
        }
      }
    }
  }
}