#snt {
  .letter-image {
    background-image: url("../images/letter/letter.jpg");
    @extend %background-image;
    &__title {
      max-width: 1224px;
      margin: 240px auto 0;
      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .letter {
    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 0 auto;
      width: 95%;
      @include mediaWidth(767)
      {
        width: 100%;
      }
    }
    &__form {
      margin: 80px auto;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 700px;
      justify-content: space-between;
      input {
        @include media-min(768) {
          width: 330px;
        }
      }
      @include mediaWidth(767)
      {
        flex-direction: column;
        margin: 40px auto;
      }
      & input:nth-child(odd){
        margin-right: 30px;
        @include mediaWidth(767)
        {
         margin-right: 0;
        }
      }
      & input[type='submit']{
        margin-left:calc(50% - 165px);
        @include mediaWidth(767)
        {
          margin-left: 0;
        }
      }
      & textarea {
        font-family: Roboto;
        width: 100%;
        min-height: 300px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        border: 1px solid #DBDBDB;
        box-sizing: border-box;
        outline: none;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        resize: none;
        &::placeholder {
          font-family: Roboto Condensed;
          font-style: italic;
        }
        @include mediaWidth(767)
        {
          width: 290px
        }
        &::placeholder {
          text-align: center;
        }
      }
    }
  }
}