#snt {
  .new-image {
    background-image: url("../images/news/news.jpg");
    @extend %background-image;

    &__title {
      max-width: 1224px;
      margin: 240px auto 0;

      &-headers {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .new {
    &__wrapper {
      max-width: 1224px;
      height: 100%;
      margin: 80px auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
    }
    &__block {
      max-width: 950px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  .event {
    padding: 30px;
    &:first-child{
      padding-top: 10px;
    }
    &__image {
      width: 100%;
    }
  }
}