$blackColor: #333334;
$greenButtonColor: #003D34;
$hoverGreenButtonColor: #66AB36;



%background-image {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

$widthTablet: 1150;
$widthPhone: 767;
$widthXs: 500;

@mixin mediaWidth($media-width) {
  @media screen and (max-width: #{$media-width}px) {
    @content;
  }
}

@mixin mediaHeight($media-height) {
  @media screen and (max-height: #{$media-height}px) {
    @content;
  }
}

@mixin mediaIE() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin media-min($media-width) {
  @media screen and (min-width: #{$media-width}px) {
    @content;
  }
}