extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Объявление';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.advertisement-image.images
        .advertisement-image__title
            .advertisement-image__title-headers
                h1 Объявление
    section.advertisement
        .advertisement__wrapper
            .advertisement__block
                .advertisement__article.advert
                    img(src="../images/ads/ads.jpg", alt="").advert__image
                    .advert__text
                        h5 заголовок объявление
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
                .advertisement__article.advert
                    img(src="../images/ads/ads.jpg", alt="").advert__image
                    .advert__text
                        h5 заголовок объявление
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
                .advertisement__article.advert
                    img(src="../images/ads/ads.jpg", alt="").advert__image
                    .advert__text
                        h5 заголовок объявление
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
                .advertisement__article.advert
                    img(src="../images/ads/ads.jpg", alt="").advert__image
                    .advert__text
                        h5 заголовок объявление
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
            .ads__nav
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                    hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr
                .ads__nav-header
                    h6 заголовок объявление
                    span.ads__nav-keys когда добавили/ключевое слово
                        hr