extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Документы';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.docs-image.images
        .docs-image__title
            .docs-image__title-headers
                h1 Документы
    section.docs
        .docs__wrapper
            table.docs__nav-table
                tbody
                    tr
                        td
                            a(href='#') Документы
                        td
                            a(href='#') Бланки документы
                        td
                            a(href='#') Законодательство
                        td
                            a(href='#') Работа правления
                        td
                            a(href='#') Благоустройство
                        td
                            a(href='#') Услуги
            table.docs__table
                thead
                    tr
                        th Наименование документа
                        th Дата размещения
                        th Скачать
                tbody
                    tr
                        td Устав СНТ
                        td 21.10.2020  17:30
                        td
                            a(href='#')
                                img(src='../images/documents/download.svg').docs__download-image
                    tr
                        td Порядок приема в СНТ
                        td 21.10.2020  17:30
                        td
                            a(href='#')
                                img(src='../images/documents/download.svg').docs__download-image

