extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Форум';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.forum-image.images
        .forum-image__title
            .forum-image__title-headers
                h1 форум
    section.forum
        .forum__wrapper
            table.forum__table
                thead
                    tr
                        th Тема
                        th Последнее сообщение
                        th Перейти к обсуждению
                tbody
                    tr
                        td Установка забора
                        td Светлана Иванова 21.10.2020  17:30
                        td
                            a(href='forum-discuss.html')
                                img(src='../images/forum/arrow.svg').forum__arrow-image
                    tr
                        td Голосование по вопросу укладки асфальта на центральной дороге
                        td Светлана Иванова 21.10.2020  17:30
                        td
                            a(href='forum-vote.html')
                                img(src='../images/forum/arrow.svg').forum__arrow-image