extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Форум';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.forum-discuss-image
        .forum-discuss-image__title
            .forum-discuss-image__title-headers
                h1 форум
    section.forum-discuss
        .forum-discuss__wrapper
            h3 установка забора
            p Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы.
            .forum-discuss__table-block
                .forum-discuss__table
                    table
                        thead
                            tr
                               td Светлана Иванова 21.10.2021 в 17:30
                        tbody
                            tr
                                td Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации.Равным образом сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития.
                    table.forum-discuss__table
                        thead
                            tr
                                td Светлана Иванова 21.10.2021 в 17:30
                        tbody
                            tr
                                td Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации.Равным образом сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития.
                textarea(placeholder="Сообщение")
                input(type="submit" value="Отправить")