extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Галерея';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.gallery-image.images
        .gallery-image__title
            .gallery-image__title-headers
                h1 галерея
    section.gallery
        .gallery__wrapper
            .gallery__carousel.owl-carousel.owl-theme
                .item
                .item
                .item
                .item
                .item
                .item
                .item
                .item
            .gallery__images
                h2 наше товарищество
                .item
                .item
                .item
                .item
                .item
                .item
                .item
                .item
    .popup
        .popup__close-button
        img(src="../images/letter/letter.jpg").popup__image


