extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Главная';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.image
        .image__title
            .image__title-headers
                h1 снт солнце
                h4 Зарегистрирован 12.10.2012 #[br] Адрес: г.Тула, район Мясново.
    section.main
        .main__wrapper
            h2 объявление
            p Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации.Равным образом сложившаяся структура организации в значительной степени обуславливает создание дальнейших направлений развития.#[br] Задача организации, в особенности же консультация с широким активом играет важную роль в формировании форм развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки форм развития.Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. #[br] Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации. Товарищи! реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития.С другой стороны сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности требуют от нас анализа модели развития. Таким образом дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке систем массового участия. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений.
    section.documents
        .documents__wrapper
            h2 документы
            .documents__menu-block
                a(href='documents.html').documents__menu-block-link-wrapper
                    .documents__menu-block-link-inner
                        span Документы
                a(href='documents.html').documents__menu-block-link-wrapper
                    .documents__menu-block-link-inner
                        span Бланки документов
                a(href='documents.html').documents__menu-block-link-wrapper
                    .documents__menu-block-link-inner
                        span Законодательство
                a(href='documents.html').documents__menu-block-link-wrapper
                    .documents__menu-block-link-inner
                        span Работа правления
                a(href='documents.html').documents__menu-block-link-wrapper
                    .documents__menu-block-link-inner
                        span Благоустройство
                a(href='documents.html').documents__menu-block-link-wrapper
                    .documents__menu-block-link-inner
                        span Услуги
    section.team
        .team__wrapper
            h2 наша команда
            .team__block
                .team__block-wrapper
                    .team__block-inner.contact
                        .contact__image.contact__image-employee
                        .contact__name
                            span.contact__text Иванов Иван Иванович #[br] Председатель СНТ
                    .team__block-inner.contact
                        .contact__image.contact__image-employee_1
                        .contact__name
                            span.contact__text Иванов Иван Иванович #[br] Председатель СНТ
                .team__block-wrapper
                    .team__block-inner.contact
                        .contact__image.contact__image-employee_2
                        .contact__name
                            span.contact__text Иванов Иван Иванович #[br] Председатель СНТ
                    .team__block-inner.contact
                        .contact__image.contact__image-employee_3
                        .contact__name
                            span.contact__text Иванов Иван Иванович #[br] Председатель СНТ
    section.payment
        .payment__wrapper
            h2 информация по оплате
            .payment__block
                .payment__block-info.payment-info
                    .payment-info__image.payment-info__image_1
                    .payment-info__text
                        span.payment-info__title членские взносы
                        span.payment-info__subtitle Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени
                .payment__block-info.payment-info
                    .payment-info__image.payment-info__image_2
                    .payment-info__text
                        span.payment-info__title целевые взносы
                        span.payment-info__subtitle Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени
                .payment__block-info.payment-info
                    .payment-info__image.payment-info__image_3
                    .payment-info__text
                        span.payment-info__title электроэнергия
                        span.payment-info__subtitle Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени
    section.address
        .address__wrapper
            h2 как добраться
            .address__block
                .address__info
                    span#auto на автомобиле
                    span#public-trans на общественном транспорте
                    p.address__auto-text Товарищи! новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации.
                    p.address__public-trans-text Новая модель организационной деятельности в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации. а также начало повседневной работы по формированию позиции требуют от нас анализа соответствующий условий активизации.
                    .address__time
                        .address__time-block
                            .address__text
                                span.address__text-title адрес:#[br]
                                span.address__text-subtitle г.Тула район Мясново
                            .address__text
                                span.address__text-title часы приема:#[br]
                                span.address__text-subtitle ПН-ПТ С 9-30 ДО 18-00
                        .address__time-block
                            .address__text
                                span.address__text-title тел:#[br]
                                span.address__text-subtitle +7-920-960-7788
                            .address__text
                                span.address__text-title время работы правления:#[br]
                                span.address__text-subtitle ПН-ПТ С 9-30 ДО 18-00
                .address__map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3028.1750709041326!2d37.59242856974056!3d54.17933124420563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1611958134144!5m2!1sru!2sru" width="600" height="450" frameborder="0" id ='iframe' style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>



