extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Передача показаний';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.indications-image
        .indications-image__title
            .indications-image__title-headers
                h1 Передача показаний
    section.indications
        .indications__wrapper
            .indications__form
                span.indications__user-name Иванов Иван Сергеевич
                span.indications__previous-date Дата предыдущих показаний: 27.10.2020
                span.indications__previous-information Предыдущие показания: 785645
                form
                    input(type='number' placeholder='Введите показания счетчика')
                    input(type="submit" value="отправить")
            span.indications__type Передача показаний за воду
