extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Написать письмо';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.letter-image
        .letter-image__title
            .letter-image__title-headers
                h1 написать письмо #[br]в правление
    section.letter
        .letter__wrapper
            form.letter__form
                input(type="text" placeholder="ФИО")
                input(type="email" placeholder="Адрес электронной почты")
                input(type="tel" placeholder="Номер телефона")
                input(type="text" placeholder="Тема письма / Номер участка")
                textarea(placeholder="Сообщение")
                input(type="submit" value="Отправить").letter__form-button