extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Событие';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.new-image
        .new-image__title
            .new-image__title-headers
                h1 новости
    section.new
        .new__wrapper
            .new__block
                .new__article.event
                    img(src="../images/news/news.jpg", alt="").event__image
                    .event__text
                        h5 заголовок новости
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
                .new__article.event
                    img(src="../images/news/news.jpg", alt="").event__image
                    .event__text
                        h5 заголовок новости
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
                .new__article.event
                    img(src="../images/news/news.jpg", alt="").event__image
                    .event__text
                        h5 заголовок новости
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
                .new__article.event
                    img(src="../images/news/news.jpg", alt="").event__image
                    .event__text
                        h5 заголовок новости
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
                        hr
            .news__nav
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                    hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys когда добавили/ключевое слово
                        hr