extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Новости СНТ';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.news-image
        .news-image__title
            .news-image__title-headers
                h1 новости
    section.news
        .news__wrapper
            .news__block
                .news__article.article
                    img(src="../images/news/news.jpg", alt="").article__image
                    .article__text
                        h5 заголовок новости
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации. Товарищи! реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития.
                .news__article.article
                    img(src="../images/news/news.jpg", alt="").article__image
                    .article__text
                        h5 заголовок новости
                        p Товарищи! новая модель организационной деятельности требуют от нас анализа новых предложений. Повседневная практика показывает, что консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Таким образом реализация намеченных плановых заданий играет важную роль в формировании соответствующий условий активизации. Товарищи! реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития.
            .news__nav
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово
                .news__nav-header
                    h6 заголовок новости
                    span.news__nav-keys кто/когда добавил/ключевое слово