extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Личный кабинет';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.private-image
        .private-image__title
            .private-image__title-headers
                h1 личный кабинет
    section.private-cabinet
        .private-cabinet__wrapper
            .private-cabinet__menu-block
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span Передача показаний счетчика электроэнергии
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span Передача показаний счетчика воды
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span Взнос за воду
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span Взнос за электроэенергию
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span Квитанция на оплату
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span История показаний
                a(href='#').private-cabinet__menu-block-link-wrapper
                    .private-cabinet__menu-block-link-inner
                        span История платежей
            .private-cabinet__menu-block
                form.private-cabinet__form
                    input(type="text" placeholder="Имя")
                    input(type="text" placeholder="Фамилия")
                    input(type="email" placeholder="Адрес электронной почты")
                    input(type="tel" placeholder="Номер телефона")
                    input(type="text" placeholder="Номер участка")
                    input(type="submit" value="Изменить данные").login__form-button
                form.private-cabinet__change-password-form
                    input(type="password" placeholder="Новый пароль")
                    input(type="password" placeholder="Подтвердите пароль")
                    input(type="submit" value="Изменить пароль").login__form-button
