extends include/layout
append sharedVars
    - const pageUrl = '/';
    - const pageTitle = 'Погода';
    - const bodyAdditionClass = '';
    - const pageAdditionClass = 'main-page';
block content
    section.weather-image
        .weather-image__title
            .weather-image__title-headers
                h1 погода
    section.weather
        .weather__wrapper
            .weather__today
                .weather__inner-image
                    .weather__image
                    .weather__info
                        span.weather__temperature +3 &#176;c
                        span.weather__info   Темпeратура: -11&#176;c
                        span.weather__info   Ветер: 5 м/с СВ
                        span.weather__info   Возможность осадков: 85%
                        span.weather__info   Влажность: 70%
            .weather__next-day-wrapper
                .weather__next-day-inner
                    span.weather__next-day-info  Погода на 04.02.2022
                    span.weather__next-day-info  Темепратура: -11&#176;c
                    span.weather__next-day-info  Ветер: 5 м/с СВ
                    span.weather__next-day-info  Возможность осадков: 85%
                    span.weather__next-day-info  Влажность: 70%
                    hr
                .weather__next-day-inner
                    span.weather__next-day-info  Погода на 04.02.2022
                    span.weather__next-day-info  Темепратура: -11&#176;c
                    span.weather__next-day-info  Ветер: 5 м/с СВ
                    span.weather__next-day-info  Возможность осадков: 85%
                    span.weather__next-day-info  Влажность: 70%
                    hr