#starway {
    * {margin: 0;
        padding: 0;
    }
    
    .cart__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 227px;
    max-height: 12px;
    margin-top: 73px;
    
        &__link {
           box-sizing: border-box;
           max-height: 12px;           
           display: flex;
           align-items: center;

           .active {
            color: rgba(49, 49, 49, 0.6)
           }


            a{
                text-decoration: none;
                font-family: Rubik;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 90%;
                letter-spacing: 0.2em;
                color: #313131;
                text-align: center;
                
            }
            &__arrow {
                background: url("/images/icons/arrow.svg");
                width: 5px;
                height: 8px;
                background-size: cover;
                background-position: center;
                margin-left: 2px;
                margin-right: 2px;

            }
        }
    }

    .cart__main {
        display: flex;

    
        .cart__content {
            height:624px ;
            width: 380px;
            display: flex;
            flex-direction: column;

            .cart__header{
                width: 380px;
                height: 84px;
                display: flex;
                align-items: center;
                margin-top: 45px;
                justify-content: space-between;

                .cart__price {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                               
                    &-text {
                        font-family: Cormorant Unicase;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 40px;
                        line-height: 90%;
                        text-align: start;
                        letter-spacing: -0.02em;
                        color: #313131;
                        display: flex;
                        width: 344px ;
                                        
                    }
                    &-sum {
                        padding-top: 28px;
                    }
                }
                .cart__heart-image {
                    background: url("/images/icons/heart.svg");
                    width: 25px;
                    height: 22px;
                    background-size: cover;
                    background-position: center;
                    align-self: start;
                    margin-top: 6px;
                                     
                }
            }    
            .cart__delivery {
                width: 370px;
                height: 60px;
                background: #FFE2E2;  
                border: 2px solid #FFB0B0;
                box-sizing: border-box;
                margin-top: 50px;
                font-family: Rubik;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 90%;
                letter-spacing: 0.2em;
                color: rgba(49, 49, 49, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .cart__sizes {
                display: flex;
                justify-content: space-between;
                width: 340px;
                height: 16px;
                align-items: center;
                text-align: center;
                margin-top: 52px;
                &-size {
                    width: 45%;
                    font-family: Rubik;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 70%;
                    text-align: center;
                    letter-spacing: 0.05em;
                    color: rgba(49, 49, 49, 0.6);
                }
                &-info {
                    align-items: center;
                    text-align: center;
                    a
                     {
                        font-family: Rubik;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 60%;                     
                        letter-spacing: 0.05em;
                        color: rgba(49, 49, 49, 0.6);
                        text-decoration: none;
                        &:after{
                           
                            width: 9px;
                            height: 16px;
                            background: url("/images/icons/arrow_grey.svg");
                            background-size: cover;
                            background-position: center;
                            content: "";
                            display: inline-flex;
                            align-self: center;
                           

                        }
                     }
                }

            }
        }
    }
       
}