@font-face {
  font-family: "Circe Bold";
  src: url("fonts/circe_bold.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/circe_bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/circe_bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/circe_bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("fonts/circe_bold.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/circe_bold.svg#circe_bold")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Circe ExtraBold";
  src: url("fonts/circe_extrabold.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/circe_extrabold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/circe_extrabold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/circe_extrabold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("fonts/circe_extrabold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/circe_extrabold.svg#circe_extrabold")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Circe ExtraLight";
  src: url("fonts/circe_extralight.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/circe_extralight.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/circe_extralight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/circe_extralight.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("fonts/circe_extralight.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/circe_extralight.svg#circe_extralight") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Circe Light";
  src: url("fonts/circe_light.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/circe_light.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/circe_light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/circe_light.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("fonts/circe_light.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/circe_light.svg#circe_light")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Circe";
  src: url("fonts/circe.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/circe.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/circe.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/circe.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("fonts/circe.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/circe.svg#circe") format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Circe Thin";
  src: url("fonts/circe_thin.eot"); /* IE 9 Compatibility Mode */
  src: url("fonts/circe_thin.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("fonts/circe_thin.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/circe_thin.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */ url("fonts/circe_thin.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/circe_thin.svg#circe_thin")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "TT Norms";
  src: url("fonts/TTNorms-Bold.woff2") format("woff2"),
    url("fonts/TTNorms-Bold.woff") format("woff"),
    url("fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  padding-top: 9px;
  margin: 0 auto;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  max-width: 1190px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #e8eae7;
  padding-bottom: 15px;
}
.navigation__logo {
  width: 36%;
  display: inline-flex;
  align-items: center;
  margin-left: 2%;
  box-sizing: border-box;
}

.navigation__logo-image {
  width: 68px;
  height: 52px;
  background-image: url(images/i1.png);
  background-size: cover;
  margin-right: 7%;
  display: inline-block;
}
.navigation__slogan-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
.navigation__links {
  display: inline-flex;
  width: 28%;
  justify-content: space-around;
  align-items: center;
}
.navigation__links-list {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.navigation-links-list-row-link {
  text-decoration: none;
  color: #464243;
}
.navigation__contacts {
  display: inline-flex;
  align-items: center;
  width: 36%;
  justify-content: flex-end;
  margin-right: 2%;
  box-sizing: border-box;
}
.navigation__contacts-tel {
  font-weight: bold;
  font-size: 18px;
  margin-right: 13%;
  color: #333;
}
.navigation__contacts-login {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__contacts-login-image {
  width: 24px;
  height: 24px;
  background-image: url(images/i2.svg);
  background-size: cover;
  margin-right: 12px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  left: 5%;
  top: 3px;
}
.menu__arrow-link {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(images/i4.svg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.menu__arrow-start {
  margin-left: -24px;
}
.menu__arrow-end {
  margin-right: -24px;
  transform: rotate(180deg);
}
.menu__main-block-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu__promo-container {
  margin-top: 3.8%;

  display: inline-flex;
  justify-content: space-around;
  width: 74px;
  height: 30px;
  background: #ff794f;
  border-radius: 5px;
  margin-bottom: 0;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.menu__promo-container .menu__promo {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.menu__dish-heading {
  width: 50%;
  margin-top: 3.5%;
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
  margin-bottom: 0;
}
.menu__delivery-info {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f0f1ee;
  margin-top: 2%;
  margin-bottom: 2.9%;
}
.menu__shop-container {
  display: inline-flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.menu__shop-buy {
  width: 47.6%;
  height: 3.8rem;
  background: none;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 134px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__shop-buy-text {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  align-self: center;
}
.menu__shop-restaurant {
  background: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
.menu__shop-restaurant-text {
  color: #ffffff;
}
.menu__shop-restaurant:hover,
.menu__shop-buy:hover {
  background: #ffffff;
}
.menu__shop-restaurant:hover span,
.menu__shop-buy:hover span {
  color: #333333;
}
.about {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.about__heading {
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #333333;
  margin-top: 80px;
  margin-bottom: 48px;
}
.about__info-container {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__info {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  width: 22%;
}
.about__info-image {
  width: 100%;
  height: 139px;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-dishes {
  background-image: url(images/i6.png);
}
.fresh-products {
  background-image: url(images/i7.png);
}
.cooking-time {
  background-image: url(images/i8.png);
}
.subscribe {
  background-image: url(images/i9.png);
}
.about__info-heading {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #131315;
  margin-top: 20px;
  margin-bottom: 0;
}
.about__info-text {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #6d7077;
  margin-top: 10px;
  margin-bottom: 0;
}
.dishes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 175px;
  position: relative;
}
.dishes__items-wrapper .menu__arrow-link {
  position: absolute;
  top: 50%;
  background-image: url(images/i10.svg);
  border: 1px solid #dddedb;
  box-shadow: none;
}
.dishes__items-wrapper .menu__arrow-end {
  left: 97.94%;
}
.dishes__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  align-items: center;
}
.dishes__heading {
  font-family: TT Norms;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 0px;
}
.dishes__menu .menu__arrow-link {
  background-image: url(images/i10.svg);
  border: 1px solid #dddedb;
  box-shadow: none;
}
.dishes__info {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #6d7077;
  margin-bottom: 30px;
}
.dishes__categories-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.dishes__categories {
  display: inline-flex;
  height: 50px;
  width: 18.3%;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #cecfcd;
  box-sizing: border-box;
  border-radius: 74px;
  text-align: center;
}
.dishes__categories-name {
  font-family: Circe;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #a1a75c;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}
.dishes__categories:hover {
  background-color: #a1a75c;
}
.dishes__categories:hover span {
  color: #fff;
}
.dishes__items-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.dishes__item-wrapper {
  width: 31.6%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.dishes__item-image {
  width: 100%;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/i11.png);
  display: inline-flex;
  justify-content: flex-end;
  border-radius: 8px 8px 0px 0px;
}

.dishes__items-wrapper :nth-child(3) .dishes__item-image {
  background-image: url(images/i12.png);
}
.dishes__items-wrapper :nth-child(4) .dishes__item-image {
  background-image: url(images/i13.png);
}
.dihes__term {
  width: 15%;
  height: 30px;
  text-align: center;
  display: inline-flex;
  background-color: #a1a75c;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 2.7%;
  margin-right: 2.7%;
  color: #fff;
}
.dishes__hashtag {
  width: 68%;
  height: 24px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.dishes__hashtag-link {
  display: inline-flex;
  background: #f0f1ee;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  align-items: center;
  justify-content: space-around;
  color: #6d7077;
}
.dishes__item-name {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  width: 89%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.dishes__cooking-info {
  width: 86%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8eae7;
  margin-left: 5.4%;
  margin-right: 5.4%;
  padding-bottom: 3%;
}

select {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  align-items: center;
  color: #646365;
  border: none;
  padding: 0;
  margin-left: -13.5%;
  outline: none;
}
.dishes__cooking-info-text {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 23px;
  align-items: center;
  color: #646365;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}
.dishes__hat-image {
  width: 16px;
  height: 16px;
  background-image: url(images/i14.svg);
  display: inline-flex;
  margin-top: 2px;
}
option {
  font-size: 13px;
  line-height: 23px;
}
.dishes__product-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.dishes__product-plate {
  width: 24px;
  height: 24px;
  background-image: url(images/i15.svg);
  background-position: bottom;
  display: inline-block;
}
.dishes__product-clock {
  width: 24px;
  height: 24px;
  background-image: url(images/i16.svg);
  background-position: bottom;
  display: inline-block;
}
.dishes__product-weight {
  margin-right: 6%;
  margin-left: 1%;
}
.dishes__product-time {
  margin-right: 6%;
  margin-left: 1%;
}
.dishes__hashtag,
.dishes__item-name,
.dishes__product-info {
  padding-left: 5.4%;
}

.switch-btn {
  display: inline-flex;
  width: 140px; /* ширина */
  height: 44px; /* высота */
  border-radius: 26px; /* радиус скругления */
  background: #f0f1ee;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
  align-items: center;
  justify-content: center;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  margin-left: 7%;
}
.switch-btn-text {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  margin-left: 14%;

  /* #646365 */

  color: #646365;
}
.switch-btn::after {
  content: "";
  height: 34px; /* высота кнопки */
  width: 34px; /* ширина кнопки */
  border-radius: 17px;
  background: #fff; /* цвет кнопки */
  top: 4px; /* положение кнопки по вертикали относительно основы */
  left: 5px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 26px;
}
#notselected {
  display: none;
}
.switch-on #notselected {
  display: inline-block;
  margin-left: 10px;
}
.switch-on #selected {
  display: none;
}
.switch-on {
  background: linear-gradient(0deg, #a1a75c, #a1a75c), #65bf4f;
  margin-left: 7%;
}
.switch-on::after {
  left: 100px;
  background: #747840;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-image: url(images/i17.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.switch-on .switch-btn-text {
  color: #ffffff;
  margin-left: 0;
  margin-right: 28%;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.footer__contact {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #333333;
  margin-bottom: 20px;
}
.footer__copyright {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #464243;
  margin-bottom: 10px;
  margin-top: 14px;
}
.footer__info-links-heading {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #131315;
  margin: 0;
}
.footer__block-container ul,
li {
  display: block;
}
.footer__link {
  margin-bottom: 10px;
  display: inline-block;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #646365;
  text-decoration: none;
}
.middle-block {
  margin-top: 24px;
}
.footer__info-block-new-items-text {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #646365;
  margin-bottom: 20px;
  margin-top: 0;
}
.footer__email {
  position: relative;
}
.footer__email-placeholder {
  background: #ffffff;
  border: 1px solid #cdcfd5;
  box-sizing: border-box;
  border-radius: 64px;
  width: 270px;
  height: 44px;
  outline: none;
}
[placeholder] {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #878786;
  padding-left: 40px;
}
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}
.footer__button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #747840;
  border-radius: 64px;
  border: none;
  position: absolute;
  right: 3px;
  top: 2px;
  background-image: url(images/i18.svg);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}
.footer__social-links {
  display: flex;
  width: 150px;
}
.footer__social-links li {
  display: inline-block;
}
.footer__social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #f0f1ee;
  box-sizing: border-box;
  border-radius: 24px;
}
.footer__block-container .footer__social-links {
  display: inline-flex;
}
.fb-link-image {
  background-image: url(images/i19.svg);
}
.vk-link-image {
  background-image: url(images/i20.svg);
}
.inst-link-image {
  background-image: url(images/i21.svg);
}
#slider-wrap {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  position: relative;
}

#active-slide {
  width: 100%;
  display: table;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#slider {
  position: relative;
  width: calc(100% * 4);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.slide {
  width: calc(100% / 4);
  list-style: none;
  display: inline;
  float: left;
  position: relative;
  max-height: 500px;
}

.slide img {
  width: 100%;
}

.Radio-But {
  text-align: center;
  position: absolute;
  bottom: 9%;
  left: 5%;
  display: flex;
  align-items: center;
}
.Radio-But .ctrl-select {
  margin-left: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(images/radioBg.png);
  background-size: cover;
  text-indent: -9999px;
}

.Radio-But .ctrl-select:hover {
  cursor: pointer;
  background-position: center center;
}

.Radio-But .ctrl-select.active {
  background-image: url(images/radioBgS.png);
  background-size: cover;
  width: 15px;
  height: 15px;
}

#prewbutton,
#nextbutton {
  display: block;
  width: 48px;
  height: 100%;
  position: absolute;
  top: 0;
  text-indent: -999px;
  background: url("images/arrowl.png") center no-repeat;
  z-index: 3;
}

#prewbutton {
  left: -19px;
}

#nextbutton {
  right: -20px;
  width: 48px;
  height: 100%;
  background: url(images/arrowr.png) center no-repeat;
}

#prewbutton:hover,
#nextbutton:hover {
  opacity: 1;
}
@media all and (max-width: 768px) {
  body {
    width: 98.8%;
    margin: o auto;
  }

  .navigation__logo-image {
    width: 70px;
    height: 70px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
  .navigation__logo {
    width: inherit;
    margin: 0;
  }
  .navigation__slogan-text {
    display: none;
  }
  .navigation__contacts-tel {
    margin: 0;
  }
  .navigation__links {
    width: 40%;
  }
  .navigation__contacts {
    margin: 0;
    justify-content: space-between;
    width: 40%;
  }
  .menu__promo-container {
    margin-top: 5%;
  }
  .menu__dish-heading {
    font-size: 40px;
    line-height: 47px;
  }
  .slide img {
    width: 100%;
    height: 500px;
  }
  .menu__delivery-info {
    margin-bottom: 36px;
  }
  .menu__delivery-info {
    width: 50%;
  }
  .menu__shop-container {
    width: 60%;
  }
  .Radio-But {
    left: 0;
  }
  .about__info-container .about__info:nth-child(4) {
    display: none;
  }
  .about__info {
  }
  .menu-dishes {
    height: 100px;
    background-size: contain;
  }
  .fresh-products {
    height: 100px;
    background-size: contain;
  }
  .cooking-time {
    height: 100px;
    background-size: contain;
  }
  .about__info-heading {
    font-size: 16px;
    line-height: 22px;
  }
  .about__info-text {
    font-size: 14px;
    line-height: 20px;
  }
  .about__info {
    width: 28%;
  }
  .about__info-container .about__info:nth-child(2) {
    width: 30%;
  }
  .dishes__categories-container {
    width: 100%;
  }
  .dishes__items-wrapper .dishes__item-wrapper:nth-child(4) {
    display: none;
  }
  .dishes__item-wrapper {
    width: 48.5%;
  }
  .footer__block-container {
  }
}
