section.popular
        p.title Вам также может понравиться
        div.popular__buttons
            div.popular__buttons--left
            div.popular__buttons--right
        div.popular__element
            img(src="../images/popular/popular-img_1.png" alt="Шелковая пижама")
            p Шёлковая Пижама
            span.price 2000₽
        div.popular__element
            img(src="../images/popular/popular-img_2.png" alt="Шелковая пижама")
            p Шёлковая Пижама
            span.price 2000₽
        div.popular__element
            img(src="../images/popular/popular-img_3.png" alt="Шелковая пижама")
            p Шёлковая Пижама
            span.price 2000₽
        div.popular__element
            img(src="../images/popular/popular-img_4.png" alt="Шелковая пижама")
            p Шёлковая Пижама
            span.price 2000₽