div.catalog-conent-block
    div.catalog-conent-block__item.catalog-conent-block__item--left
        img(src="images/catalog/catalog-left-img_1.png" alt="")
        p.name Бамбуковые брюки
        p.price 2000₽
    div.catalog-conent-block__item.catalog-conent-block__item--center
        img(src="images/catalog/catalog-center-img_1.png" alt="")
    div.catalog-conent-block__item.catalog-conent-block__item--right
        img(src="images/catalog/catalog-right-img_1.png" alt="")