div.info
    div.info__elem.info__elem--image-gift
    div.info__elem.info__elem--params
        img(src="../images/icons/heart-cart.svg", alt="").like-heart
        div.flex-box.flex-box--gift
            span.info-title.info-title--gift Шёлковая пижама
            span.info-price.info-price--gift Подарок
        div.params.info-sum-of-gift.info-numbers
            span Подарок на сумму: 
            span.sum-of-gift 4000-6000₽
        div.params.info-size 
            span Размер:
            div.info-size__value s
        div.params.info-color
            span Цвет:
            div.info-color__value 
                span.info-color-value
        div.info-btn.more-detailed подробнее