div.orders-decoration-line
div.orders__elem.orders__elem--item
    div.item-headline
        p.order-status доставлено
        h4(value="№10057/1").order-num №10057/1
        p(value="45342234").order-tracknum 45342234
        p(value="12.12.2020").order-date 12.12.2020
        div.order-products
            div.order-products__elem
                img(src="../images/personal-account/order-products-img.png" alt="")
                div.order-product-info 
                    p.info-title Шёлковая пижама
                    p.info-price 2000₽
                    p.info-size Размер: s
                    div.info-color
                        p Цвет:
                        div.info-color__value 
                            span.info-color-value
            div.order-products__elem
                img(src="../images/personal-account/order-products-img.png" alt="")
                div.order-product-info 
                    p.info-title Шёлковая пижама
                    p.info-price 2000₽
                    p.info-size Размер: s
                    div.info-color
                        p Цвет:
                        div.info-color__value 
                            span.info-color-value
        div.order-information
            div.order-information__elem.order-information__elem--adress
                p.order-information-title Адрес 
                div.adress-info 
                    p.adress-info-name Иван Иванов
                    p.adress-info-street пр Ленина 5
                    p.adress-info-city Москва
                    p.adress-info-index 303025
                    p.adress-info-country Россия
            div.orders-decoration-line
            div.order-information__elem.order-information__elem--data
                p.order-information-title Сведения
                div.data-info.data-info--subtotal
                    p Промежуточный итог
                    p.data-info-subtotal 4000₽
                div.data-info.data-info--delivery
                    p Доставка
                    p.data-info-delivery 250₽
                div.data-info.data-info--discount 
                    p Скидка
                    p.data-info-discount 250₽
                div.data-info.data-info--total 
                    p Всего
                    p.data-info-total 4500₽
            div.orders-decoration-line

            div.order-information__elem.order-information__elem--help
                p.order-information-title Нужна помощь?
                a(href="").help-info.help-info--delivery-and-pay Доставка и оплата 
                a(href="").help-info.help-info--contact-us Свяжитесь с нами