section.newsletter
    p НОВОСТНАЯ РАССЫЛКА
    h2.title Подпишитесь, чтобы получать #[br] последние обновления
    form.newsletter-form
    input(type="email" placeholder="Укажите свой адрес электронной почты").input.input--email
    input(type="submit" value="подписатся").button.button--subscribe
