//-  меню и новостная рассылка
section.personal-account-menu
    a(href="/").personal-account-menu__elem.personal-account-menu__elem--personal-info.active Личные данные
    a(href="/").personal-account-menu__elem.personal-account-menu__elem--order-history История заказов
    a(href="/").personal-account-menu__elem.personal-account-menu__elem--wish-list Список желаний
    a(href="/").personal-account-menu__elem.personal-account-menu__elem--offer-for-you Предложение для вас 