div.info
    div.info__elem.info__elem--image
    div.info__elem.info__elem--params
        img(src="../images/icons/heart-cart.svg", alt="").like-heart
        div.flex-box
            span.info-title Шёлковая пижама
            span(price="2000").info-price.info-price--product 2000₽
        div.params.info-numbers.info-numbers--product
            span Количество:
            div.counter 
                span -
                div.counter__value 1  
                span +
        div.params.info-size.info-size--product 
            span Размер:
            div.info-size__value s
        div.params.info-color
            span Цвет:
            div.info-color__value 
                span.info-color-value
        div.info-btn.delete удалить