div.wish-list__item
    img(src="../images/wish-list/wish-list-item.png" alt="")
    div.flex
        p Шёлковая Пижама #[br]
            span 2000₽
        a(href="")
            img(src="../images/icons/heart-active.svg" alt="")